@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(75, 168, 238);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  #app {
    padding: 0 2rem;
  }
} */

@media (max-width: 624px) {
  #app {
    padding: 2rem 0;
  }
}